{{define "title"}}Claim Property{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <!--<h1 class="">Starfox221</h1>-->
         <a title="Claim Property" class="btn btn-success" role="button" href="{{$.BaseURI}}property/claim">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Claim Property
		</a>
        <a title="Claim Property" class="btn btn-error" role="button" href="{{$.BaseURI}}property/create">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Search
		</a>
          
        <br>
        </div>
      <!--
        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>
        -->

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Property</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">ID</strong></span> {{.bcpa.ID}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Milage</strong></span> {{.bcpa.Milage}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Use</strong></span> {{.bcpa.Use}}</li>
                <!--<li class="list-group-item text-right"><span class="pull-left"><strong class="">Role: </strong></span> Pet Sitter</li>-->
            </ul>
            <div class="panel panel-default">
                    <div class="panel-heading">Land Calculations <i class="fa fa-link fa-1x"></i>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive"> 
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Price</th>
                                        <th>Factor</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{range $n := .bcpa.LandCalculations.Calculations}}
                                    <tr>
                                        <td>{{.Price}}</td>
                                        <td>{{.Factor}}</td>
                                        <td>{{.Type}}</td>
                                    </tr>
                                {{end}}
                                <tr>
                                        <td colspan="2">Adj. Bldg. S.F.</td>
                                        <td>{{.bcpa.LandCalculations.AdjBldgSF}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Units</td>
                                        <td>{{.bcpa.LandCalculations.Units}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">{{.bcpa.LandCalculations.EffActYearBuilt}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">(Card, <a href="http://www.bcpa.net{{.bcpa.LandCalculations.SketchURL}}" target="_new">Sketch</a>)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>   
           <div class="panel panel-default">
             <div class="panel-heading">Abbreviated Legal Description

                </div>
                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> {{.bcpa.Legal}}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Appraiser Details <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body"><a href="http://www.bcpa.net/RecInfo.asp?URL_Folio={{.bcpa.ID}}" class="">{{.bcpa.ID}}</a>

                </div>
            </div>
          <!--
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">	<i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i> 
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>-->
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Property Details</div>
                <div class="panel-body"> 
                    <ul class="list-group">
                    <!-- <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>
                        </li>-->
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Site Address</strong></span> {{.bcpa.Siteaddress}}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Property Owner</strong></span> {{.bcpa.Owner}}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Mailing Address</strong></span> {{.bcpa.MailingAddress}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Property Assessment Values</div>
                <div class="panel-body"> 

                  <div class="table-responsive"> 
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Land</th>
                                <th>Building / Improvement</th>
                                <th>Just / Market Value</th>
                                <th>Assessed / SOH Value</th>
                                <th>Tax</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{range $n := .bcpa.PropertyAssessments}}
                            <tr>
                                <td>{{.Year}}</td>
                                <td>{{.Land}}</td>
                                <td>{{.BuildingImprovement}}</td>
                                <td>{{.JustMarketValue}}</td>
                                <td>{{.AssessedSOHValue}}</td>
                                <td>{{.Tax}}</td>
                            </tr>
                         {{end}}
                        </tbody>
                    </table>
                 </div>
             </div>
        </div>
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Property Assessment Values</div>
                <div class="panel-body"> 

                  <div class="table-responsive"> 
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>County</th>
                                <th>School Board</th>
                                <th>Municipal</th>
                                <th>Independent</th>
                            </tr>
                        </thead>
                        <tbody>
                         {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.JustValue  }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                            
                                <td>Just Value</td>
                                <td>{{.bcpa.ExemptionsTaxable.County.JustValue}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.JustValue}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.JustValue}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.JustValue}}</td>
                            </tr>
                             {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.Portability }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                                <td><a href="http://www.bcpa.net/FAQ.asp#10006" target="_new" >Portability</a></td>
                                <td>{{.bcpa.ExemptionsTaxable.County.Portability}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.Portability}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.Portability}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.Portability}}</td>
                            </tr>
                           {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.AssessedSOH }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                                <td><a href="http://www.bcpa.net/SOH.asp" target="_new">Assessed/SOH</a></td>
                                <td>{{.bcpa.ExemptionsTaxable.County.AssessedSOH}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.AssessedSOH}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.AssessedSOH}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.AssessedSOH}}</td>
                            </tr>
                            {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.Homestead }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                                <td><a href="http://www.bcpa.net/homestead.asp" target="_new">Homestead</a></td>
                                <td>{{.bcpa.ExemptionsTaxable.County.Homestead}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.Homestead}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.Homestead}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.Homestead}}</td>
                            </tr>
                            {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.AddHomestead }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                                <td><a href="http://www.bcpa.net/homestead.asp" target="_new">Add. Homestead<a/></td>
                                <td>{{.bcpa.ExemptionsTaxable.County.AddHomestead}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.AddHomestead}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.AddHomestead}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.AddHomestead}}</td>
                            </tr>
                            {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.WidVetDis }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                                <td><a href="http://www.bcpa.net/ExemptionCodesExpanded.asp" target="_new">Wid/Vet/Dis</a></td>
                                <td>{{.bcpa.ExemptionsTaxable.County.WidVetDis}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.WidVetDis}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.WidVetDis}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.WidVetDis}}</td>
                            </tr>
                            {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.Senior }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                                <td><a href="http://www.bcpa.net/senior_instructions.asp" target="_new">Senior</a></td>
                                <td>{{.bcpa.ExemptionsTaxable.County.Senior}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.Senior}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.Senior}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.Senior}}</td>
                            </tr>
                            {{if .bcpa.DataIsNonZero .bcpa.ExemptionsTaxable.County.XemptType }} <tr class="warning"> {{else}} <tr class="success"> {{end}}
                                <td><a href="http://www.bcpa.net/ExemptionCodesExpanded.asp" target="_new">Exempt Type</a></td>
                                <td>{{.bcpa.ExemptionsTaxable.County.XemptType}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.XemptType}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.XemptType}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.XemptType}}</td>
                            </tr>
                            <tr class="danger">
                                <td>Taxable</td>
                                <td>{{.bcpa.ExemptionsTaxable.County.Taxable}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.SchoolBoard.Taxable}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Municipal.Taxable}}</td>
                                <td>{{.bcpa.ExemptionsTaxable.Independent.Taxable}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Pets I Own</div>
                <div class="panel-body">
                  <div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://lorempixel.com/600/200/sports">
						<div class="caption">
							<h3>
								Rover
							</h3>
							<p>
								Cocker Spaniel who loves treats.
							</p>
							<p>
							
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://lorempixel.com/600/200/sports">
						<div class="caption">
							<h3>
								Marmaduke
							</h3>
							<p>
								Is just another friendly dog.
							</p>
							<p>
							
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://lorempixel.com/600/200/sports">
						<div class="caption">
							<h3>
								Rocky
							</h3>
							<p>
								Loves catnip and naps. Not fond of children.
							</p>
							<p>
							
							</p>
						</div>
                </div>
                 
            </div>
                     
            </div>
                 
        </div>
              
    </div>
           <div class="panel panel-default">
                <div class="panel-heading">Starfox221's Bio</div>
                <div class="panel-body"> A long description about me.

                </div>
</div></div>


            <div id="push"></div>
        </div>
        <footer id="footer">
            <div class="row-fluid">
            <!--
                <div class="span3">
                    <p> 
                        <a href="http://twitter.com/Bootply" rel="nofollow" title="Bootply on Twitter" target="ext">Twitter</a><br>
                        <a href="https://plus.google.com/+Bootply" rel="publisher">Google+</a><br>
                        <a href="http://facebook.com/Bootply" rel="nofollow" title="Bootply on Facebook" target="ext">Facebook</a><br>
                        <a href="https://github.com/iatek/bootply" title="Bootply on GitHub" target="ext">GitHub</a><br>
                    </p>
                </div>
                <div class="span3">
                    <p> 
                        <a data-toggle="modal" role="button" href="#contactModal">Contact Us</a><br>
                        <a href="/tags">Tags</a><br>
                        <a href="/bootstrap-community">Community</a><br>
                        <a href="/upgrade">Upgrade</a><br>
                    </p>
                </div>
                <div class="span3">
                    <p> 
                        <a href="http://www.bootbundle.com" target="ext" rel="nofollow">BootBundle</a><br>
                        <a href="https://bootstrapbay.com/?ref=skelly" target="_ext" rel="nofollow" title="Premium Bootstrap themes">Bootstrap Themes</a><br>
                        <a href="http://www.bootstrapzero.com" target="_ext" rel="nofollow" title="Free Bootstrap templates">BootstrapZero</a><br>
                        <a href="http://upgrade-bootstrap.bootply.com/">2.x Upgrade Tool</a><br>
                    </p>
                </div>-->
                <div class="span3">
                    <span class="pull-right">©Copyright 2013-2014 <a href="/" title="The Bootstrap Playground">Bootply</a> | <a href="/about#privacy">Privacy</a></span>
                </div>
            </div>
        </footer>
        
        <script src="/plugins/bootstrap-select.min.js"></script>
        <script src="/codemirror/jquery.codemirror.js"></script>
        <script src="/beautifier.js"></script>
        <script>
        jQuery.fn.shake = function(intShakes, intDistance, intDuration, foreColor) {
            this.each(function() {
                if (foreColor && foreColor!="null") {
                    $(this).css("color",foreColor); 
                }
                $(this).css("position","relative"); 
                for (var x=1; x<=intShakes; x++) {
                $(this).animate({left:(intDistance*-1)}, (((intDuration/intShakes)/4)))
                .animate({left:intDistance}, ((intDuration/intShakes)/2))
                .animate({left:0}, (((intDuration/intShakes)/4)));
                $(this).css("color",""); 
            }
          });
        return this;
        };
        </script>
        <script>
        $(document).ready(function() {
        
            $('.tw-btn').fadeIn(3000);
            $('.alert').delay(5000).fadeOut(1500);
            
            $('#btnLogin').click(function(){
                $(this).text("...");
                $.ajax({
                    url: "/loginajax",
                    type: "post",
                    data: $('#formLogin').serialize(),
                    success: function (data) {
                        //console.log('data:'+data);
                        if (data.status==1&&data.user) { //logged in
                            $('#menuLogin').hide();
                            $('#lblUsername').text(data.user.username);
                            $('#menuUser').show();
                            /*
                            $('#completeLoginModal').modal('show');
                            $('#btnYes').click(function() {
                                window.location.href="/";
                            });
                            */
                        }
                        else {
                            $('#btnLogin').text("Login");
                            prependAlert("#spacer",data.error);
                            $('#btnLogin').shake(4,6,700,'#CC2222');
                            $('#username').focus();
                        }
                    },
                    error: function (e) {
                        $('#btnLogin').text("Login");
                        console.log('error:'+JSON.stringify(e));
                    }
                });
            });
            $('#btnRegister').click(function(){
                $(this).text("Wait..");
                $.ajax({
                    url: "/signup?format=json",
                    type: "post",
                    data: $('#formRegister').serialize(),
                    success: function (data) {
                        console.log('data:'+JSON.stringify(data));
                        if (data.status==1) {
                            $('#btnRegister').attr("disabled","disabled");
                            $('#formRegister').text('Thanks. You can now login using the Login form.');
                        }
                        else {
                            prependAlert("#spacer",data.error);
                            $('#btnRegister').shake(4,6,700,'#CC2222');
                            $('#btnRegister').text("Sign Up");
                            $('#inputEmail').focus();
                        }
                    },
                    error: function (e) {
                        $('#btnRegister').text("Sign Up");
                        console.log('error:'+e);
                    }
                });
            });
            
            $('.loginFirst').click(function(){
                $('#navLogin').trigger('click');
                return false;
            });
            
            $('#btnForgotPassword').on('click',function(){
                $.ajax({
                    url: "/resetPassword",
                    type: "post",
                    data: $('#formForgotPassword').serializeObject(),
                    success: function (data) {
                        if (data.status==1){
                            prependAlert("#spacer",data.msg);
                            return true;
                        }
                        else {
                            prependAlert("#spacer","Your password could not be reset.");
                            return false;
                        }
                    },
                    error: function (e) {
                        console.log('error:'+e);
                    }
                });
            });
            
            $('#btnContact').click(function(){
                
                $.ajax({
                    url: "/contact",
                    type: "post",
                    data: $('#formContact').serializeObject(),
                    success: function (data) {
                        if (data.status==1){
                            prependAlert("#spacer","Thanks. We got your message and will get back to you shortly.");
                             $('#contactModal').modal('hide');
                            return true;
                        }
                        else {
                            prependAlert("#spacer",data.error);
                            return false;
                        }
                    },
                    error: function (e) {
                        console.log('error:'+e);
                    }
                });
                return false;
            });
            
            /*
            $('.nav .dropdown-menu input').on('click touchstart',function(e) {
                e.stopPropagation();
            });
            */
            
            
            
            
            
        });
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        var prependAlert = function(appendSelector,msg){
            $(appendSelector).after('<div class="alert alert-info alert-block affix" id="msgBox" style="z-index:1300;margin:14px!important;">'+msg+'</div>');
            $('.alert').delay(3500).fadeOut(1000);
        }
        </script>
        <div id="contactModal" class="modal hide">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <h3>Contact Us</h3>
                <p>suggestions, questions or feedback</p>
            </div>
            <div class="modal-body">
                  <form class="form form-horizontal" id="formContact">
                      <input name="_csrf" id="token" value="CkMEALL0JBMf5KSrOvu9izzMXCXtFQ/Hs6QUY=" type="hidden">
                      <div class="control-group">
                          <label class="control-label" for="inputSender">Name</label>
                          <div class="controls">
                              <input name="sender" id="inputSender" class="input-large" placeholder="Your name" type="text">
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="inputMessage">Message</label>
                          <div class="controls">
                              <textarea name="notes" rows="5" id="inputMessage" class="input-large" placeholder="Type your message here"></textarea>
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="inputEmail">Email</label>
                          <div class="controls">
                              <input name="email" id="inputEmail" class="input-large" placeholder="you@youremail.com (for reply)" required="" type="text">
                          </div>
                      </div>
                  </form>
            </div>
            <div class="modal-footer pull-center">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</a>     
                <a href="#" data-dismiss="modal" aria-hidden="true" id="btnContact" role="button" class="btn btn-success">Send</a>
            </div>
        </div>
	
	<script src="/plugins/bootstrap-pager.js"></script>
</div>



        <!--
    	<div class="panel panel-default">
			<div class="panel-body">
                <div class="card-group">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Owner</h5>
                    <p class="card-text">{{.bcpa.Owner}}</p>
                    <p class="card-text">{{.bcpa.MailingAddress}}</p>
                    <p class="card-text"><small class="text-muted">...</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Address</h5>
                    <p class="card-text">{{.bcpa.Siteaddress}}</p>
                    <p class="card-text"><small class="text-muted">...</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Folio: {{.bcpa.ID}}</p>
                    <p class="card-text">Use: {{.bcpa.Use}}</p>
                    <p class="card-text">Milage: {{.bcpa.Milage}}</p>
                    <p class="card-text">Legl: {{.bcpa.Legal}}</p>
                    <p class="card-text"><small class="text-muted">...</small></p>
                    </div>
                </div>
                </div>
				<div style="display: inline-block;">
					<a title="Claim Property" class="btn btn-warning" role="button" href="{{$.BaseURI}}property/claimed/{{.houseNumber}}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Claim
					</a>
					<a title="New Search" class="btn btn-danger" role="button" href="{{$.BaseURI}}property/create/">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> New Search
					</a>
				</div>
				<span class="pull-right" style="margin-top: 14px;"></span>
			</div>
		</div>-->
	
	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}